<div class="container">
  <div class="content">
    <img src="/images/alternative.svg" alt="Bienvenida" class="welcome-image" />
    <h1>¡Te damos la bienvenida a Banco Azteca!</h1>
    <p>Usa tu préstamo como dinero en efectivo <br> o compra en donde quieras.</p>

    <div class="form-section">
      <label for="name">¿Cómo prefieres que te llamemos?</label>
      <div class="input-container">
        <input
          type="text"
          id="name"
          placeholder="Escribe tu nombre"
          maxlength="15"
          autocomplete="off"
          [formControl]="nameControl"
          [class.invalid]="nameControl.invalid && nameControl.touched"
        >
        <button class="mic-button">
          <svg class="mic-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
            <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
            <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0v5zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z"/>
          </svg>
        </button>
      </div>
      <div class="validation-container">
        <div class="error-message" *ngIf="nameControl.invalid && nameControl.touched">
          {{ getErrorMessage() }}
        </div>
        <div class="char-counter" [class.invalid]="charCount > maxLength">
          {{charCount}}/{{maxLength}} caracteres
        </div>
      </div>
      <button
        class="start-button"
        (click)="emitName()"
      >
        Comenzar
      </button>
    </div>
  </div>
</div>
