.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content {
  text-align: center;
  width: 90%;
  max-width: 350px;
}

.welcome-image {
  width: 180px;
  margin-bottom: 20px;
}

h1 {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

p {
  max-width: 350px;
  margin: 15px auto 0;
  line-height: 1.4;
  font-size: 1rem;
}

.form-section {
  margin-top: 45px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 200;
  text-align: left;
  font-size: 0.9rem;
}

.start-button {
  width: 100%;
  padding: 12px;
  background-color: var(--button);
  color: var(--white);
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-button:hover {
  background-color: var(--hover-button);
}

.start-button:disabled {
  background-color: var(--light-gray);
  cursor: not-allowed;
  opacity: 0.7;
}

.listening-indicator {
  margin-bottom: 60px;
}
