<div class="container">
  <div class="content">
    <img src="/images/alternative.svg" alt="Bienvenida" class="welcome-image" />
    <h1>¡Te damos la bienvenida a Banco Azteca!</h1>
    <p>Usa tu préstamo como dinero en efectivo <br> o compra en donde quieras.</p>

    <div class="form-section">
      <label for="name">¿Cómo prefieres que te llamemos?</label>

      <app-voice-input
        *ngIf="!isRecording"
        [control]="nameControl"
        [maxLength]="maxLength"
        placeholder="Escribe tu nombre"
        [isRecording]="isRecording"
        (submitMessage)="submitMessage()"
      >
        <app-voice-recognition-button
          *ngIf="!isRecording"
          (startRecording)="startRecording()"
        ></app-voice-recognition-button>
      </app-voice-input>

      <div class="listening-indicator" *ngIf="isRecording">
        <app-listening-indicator
            (cancel)="cancelRecording()"
            (confirm)="stopRecording()"
        ></app-listening-indicator>
      </div>

      <button
        class="start-button"
        (click)="submitMessage()"
        [disabled]="nameControl.invalid"
      >
        Comenzar
      </button>
    </div>
  </div>
</div>
