/* You can add global styles to this file, and also import other style files */
:root {
  /* Colors */
  --color-bg: #1A1A1A;
  --white: #FFFFFF;
  --button: #6c63ff;
  --hover-button: #4a41da;
  --light-gray: #B0B0B0;

  /* Typography */
  --primary-font: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: var(--primary-font);
  background-color: var(--color-bg);
  color: var(--light-gray);
}
